---
import { Image } from 'astro:assets'
import CardTimeline from '@components/cards/card-timeline.astro'
import { timelines } from '@content/timeline'
import Grille from '@icons/grille.astro'
import MainLayout from '@layouts/MainLayout.astro'

const timelineReverse = structuredClone(timelines).reverse()
---

<MainLayout>
  <div class="px-4 pt-[14px] flex flex-col justify-center">
    <div class="relative flex flex-col mb-14">
      <div class="text-center max-w-[500px] m-auto p-6 flex flex-col items-center">
        <h4
          class="inline-block text-3xl mb-3 font-bold tracking-[-1.2px] bg-repeat bg-clip-text bg-100% bg-rainbow-gradient"
          style="-webkit-text-fill-color:transparent"
        >
          Cronología
        </h4>
        <p class="text-lg tracking-[-0.28px] leading-[140%]">
          La visión lineal de algunos hitos y momentos destacados ocurridos hasta el momento. Y
          siempre puedes encontrar más información en LinkedIn.
        </p>
        <div class="flex justify-center items-center my-3">
          <Grille className="opacity-20 scale-y-[1] scale-x-[-1]" />
          <span class="w-max flex h-min">
            <Image
              loading="eager"
              class="dark:invert mx-6"
              alt={'dots'}
              src="/three-dots.svg"
              width="35"
              height="35"
            />
          </span>
          <Grille className="opacity-20 " />
        </div>
      </div>
      <section class="mt-[30px]">
        {timelineReverse.map((timeline) => <CardTimeline timeline={timeline} />)}
      </section>
    </div>
  </div>
</MainLayout>
