---
import { BorderBeam } from '@components/magic-ui/border-beam'
import Grille from '@icons/grille.astro'
import MainLayout from '@layouts/MainLayout.astro'
import { Image } from 'astro:assets'
---

<MainLayout>
  <div class="px-4 pt-[14px] flex flex-col justify-center">
    <div class="relative flex flex-col mb-14">
      <div class="text-center max-w-[500px] m-auto p-6 flex flex-col items-center">
        <h4
          class="inline-block text-3xl mb-3 font-bold tracking-[-1.2px] bg-repeat bg-clip-text bg-100% bg-dream-gradient"
          style="-webkit-text-fill-color:transparent"
        >
          Sobre mí
        </h4>
        <p class="text-lg tracking-[-0.28px] leading-[140%] text-balance">
          Un poco acerca de mí, mi trayectoria en mi vida profesional y mi enfoque como
          desarrollador.
        </p>
        <div class="flex justify-center items-center my-3">
          <Grille className="opacity-20 scale-y-[1] scale-x-[-1]" />
          <span class="w-max flex h-min">
            <Image
              loading="eager"
              class="dark:invert mx-6"
              alt={'dots'}
              src="/three-dots.svg"
              width="35"
              height="35"
            />
          </span>
          <Grille className="opacity-20 " />
        </div>
      </div>
      <section class="mt-[30px]">
        <div class="flex w-full relative rounded-lg">
          <Image
            loading="eager"
            class="rounded-lg"
            alt={'joan photo'}
            src="/about-1.webp"
            width="500"
            height="500"
            class="rounded-lg w-full"
          />
          <BorderBeam size={300} duration={12} delay={9} borderWidth={2} />
        </div>
        <div class="max-w-[600px] mx-auto mt-11">
          <p class="text-base my-3 px-4 leading-[150%] tracking-[-0.25px]">
            Como desarrollador FullStack apasionado por la creación de experiencias e innovacion
            digital, he dedicado los últimos 4 años a construir aplicaciones complejas. Mi
            experiencia abarca desde el desarrollo de interfaces de usuario atractivas hasta la
            implementación de soluciones de backend escalables y seguras, todo ello con un enfoque
            en la calidad y la eficiencia con tecnologías como NextJS, ReactJs, NodeJs, Golang,
            MongoDB, entre otras.
          </p>
          <p class="text-base my-3 px-4 leading-[150%] tracking-[-0.25px]">
            Además de mis habilidades técnicas, me destaco por mi capacidad de trabajar tanto en
            equipo como de manera independiente. Disfruto colaborar con otros profesionales,
            compartiendo ideas y encontrando soluciones innovadoras a problemas complejos. Mi
            enfoque en la comunicación clara y efectiva me ha permitido contribuir de manera
            significativa en proyectos, no solo aportando soluciones creativas, sino también
            ayudando a mantener un flujo de trabajo armonioso. Siempre busco oportunidades para
            mejorar y apoyar al equipo en el cumplimiento de los objetivos comunes, adaptándome a
            diferentes estilos de trabajo y necesidades del proyecto.
          </p>
          <h4
            class="mt-[54px] opacity-70 dark:text-[var(--light-gray)] tracking-[2px] uppercase text-sm px-4 font-semibold"
          >
            Actualidad
          </h4>
          <p class="text-base my-3 px-4 leading-[150%] tracking-[-0.25px]">
            Recientemente, he estado dedicando tiempo a aprender AstroJs, un framework que se
            destaca por su enfoque en la velocidad y simplicidad, lo cual me ha permitido
            perfeccionar mis habilidades en el desarrollo de aplicaciones web modernas y eficientes.
            Este nuevo aprendizaje me ha brindado una perspectiva fresca sobre la optimización de
            rendimiento y la creación de experiencias más rápidas para los usuarios. Además,
            actualmente estoy cursando inglés en la Universidad Pedagógica de Colombia, con el
            objetivo de mejorar mis habilidades de comunicación y estar preparado para colaborar en
            equipos internacionales, expandiendo así mis oportunidades profesionales en el ámbito
            global.
          </p>
          <h4
            class="mt-[54px] opacity-70 dark:text-[var(--light-gray)] tracking-[2px] uppercase text-sm px-4 font-semibold"
          >
            Interacciones y menciones
          </h4>
          <div class="px-4 my-3">
            <Image
              loading="eager"
              alt="me"
              src="/mention-1.webp"
              class="rounded-2xl object-cover w-full "
              width={1212}
              height={1260}
            />
          </div>
          <div class="px-4 my-3">
            <Image
              loading="eager"
              alt="me"
              src="/mention-2.webp"
              class="rounded-2xl object-cover w-full "
              width={1212}
              height={1260}
            />
          </div>
          <div class="px-4 my-3">
            <Image
              loading="eager"
              alt="me"
              src="/mention-3.webp"
              class="rounded-2xl object-cover w-full "
              width={1212}
              height={1260}
            />
          </div>
        </div>
      </section>
    </div>
  </div>
</MainLayout>
