---
import { Image } from 'astro:assets'
import ShineBorder from '@components/magic-ui/shine-border'
import { ListTechnologies } from '@components/marquee/list-technologies'
import RowLink from '@icons/row-link.astro'
import MainLayout from '@layouts/MainLayout.astro'
import { projects } from '@content/projects'
import Mail from '@icons/mail.astro'
import Linkedin from '@icons/linkedin.astro'
import CardProject from '@components/cards/card-project.astro'
---

<MainLayout>
  <div class="px-4 pt-4 flex flex-col justify-center">
    <section class="flex items-center gap-4">
      <Image
        class="w-28 h-28 rounded-full"
        width="150"
        height="150"
        loading="eager"
        src="/joan.webp"
        alt="joan-rojas"
      />
      <div class="font-medium text-dark dark:text-white text-xl flex flex-col gap-2">
        <div>Joan Rojas Mejia</div>
        <a href="https://www.linkedin.com/in/joan-rojas-mejia/" target="_blank">
          <ShineBorder
            className="text-center text-sm font-medium"
            color={['#A07CFE', '#FE8FB5', '#FFBE7B']}
            borderRadius={1000}
            duration={20}
            client:load
          >
            <span class="flex flex-row items-center justify-center">
              Available to work
              <span class="scale-[0.65]">
                <RowLink />
              </span>
            </span>
          </ShineBorder>
        </a>
      </div>
    </section>
  </div>
  <section class="pt-8">
    <p class="text-xl text-pretty font-normal text-dark dark:text-white">
      I'm a software engineer with experience in web development, I have worked with different
      technologies and programming languages, I have experience in the development of web
      applications, APIs, and mobile applications.
    </p>
  </section>
  <div class="pt-4">
    <ListTechnologies client:load />
  </div>
  <section class="mt-14">
    <div class="flex flex-row justify-between items-center">
      <h6
        class="text-light-gray dark:text-[var(--light-gray)] uppercase text-sm opacity-70 tracking-[2px] font-semibold"
      >
        Current Projects
      </h6>
      <a
        href="/work"
        class="dark:text-[var(--light-gray)] text-xs font-semibold capitalize bg-text-sky-gradient bg-clip-text bg-repeat bg-100%"
        style="-webkit-text-fill-color:transparent">All Works ▸</a
      >
    </div>
  </section>
  <section class="pt-5">
    <div class="flex flex-col items-center justify-center">
      <div class="relative grid gap-[14px] mt-[6px] p-1 grid-cols-3 scale-[1.04]">
        {
          projects
            .toSpliced(6, 6)
            .map((project) => <CardProject project={project} isPageWork={false} />)
        }
      </div>
    </div>
  </section>
  <section class="mt-11">
    <div class="bg-hover-background-light dark:bg-hover-background flex rounded-[20px] items-center p-4">
      <div class="p-8 z-10">
        <h2
          class="font-semibold bg-repeat bg-clip-text bg-100% bg-text-gradient text-4xl tracking-tight"
          style="-webkit-text-fill-color:transparent"
        >
          Contact me!
        </h2>
        <div class="flex mt-3 gap-6">
          <a
            href="mailto:sebas.rojas.mejia@gmail.com?subject=Saying Hello!!!"
            class="flex items-center gap-2 font-medium bg-repeat bg-clip-text bg-100% bg-text-gradient text-[var(--retro-2c)]"
            style="-webkit-text-fill-color:transparent"
          >
            <Mail />
            hi@joan.me
          </a>
          <a
            href="https://www.linkedin.com/in/joan-rojas-mejia/"
            class="flex items-center gap-2 font-medium bg-repeat bg-clip-text bg-100% bg-text-gradient text-[var(--retro-2c)]"
            style="-webkit-text-fill-color:transparent"
            target="_blank"
          >
            <Linkedin />
            Joan Rojas
          </a>
        </div>
        <p class="my-5 font-normal text-xl tracking-[-0.3px] opacity-80 max-w-80">
          Do you want to create something amazing? Or do you have any questions? Send an email or
          message on linkedin.
        </p>
        <div class="text-left justify-start">
          <span class="flex">
            <a
              href="https://airtable.com/shrbOEuombdqwlRUp"
              class="rounded-[18px] flex items-center font-medium text-base relative text-white bg-dream-gradient py-2 px-5 leading-5 hover:opacity-80 transition-all duration-300"
            >
              Contact me
            </a>
          </span>
        </div>
      </div>
      <div class="text-right z-auto">
        <Image
          alt={'chat'}
          src="/chat.png"
          width="150"
          height="150"
          class="size-72 -m-2 scale-[1.2] translate-y-[18px]"
        />
      </div>
    </div>
  </section>
</MainLayout>
