---
import Instagram from '../icons/instagram.astro'
import Twitter from '../icons/twitter.astro'
import Moon from '../icons/moon.astro'
import Linkedin from '../icons/linkedin.astro'
import Github from '../icons/github.astro'
---

<nav class="w-[708px] m-auto pt-6">
  <div
    class="backdrop-blur-2xl px-4 py-[10px] flex flex-row justify-between bg-[var(--nav-bg)] rounded-xl"
  >
    <div class="flex items-center max-h-10 h-10 w-full">
      <div>
        <a href="/">Joan</a>
      </div>
      <div class="flex items-center max-h-10 ml-2 relative w-full justify-center">
        <ul class="m-o flex flex-row">
          <li class="relative">
            <a href="/timeline">
              <span
                class="font-semibold px-3 bg-repeat bg-clip-text bg-100% bg-[var(--retro-2c)] bg-text-gradient"
                style="-webkit-text-fill-color:transparent"
              >
                timeline
              </span>
            </a>
          </li>
          <li class="relative">
            <a class="block relative px-3 text-base tracking-tight font-medium" href="/work">
              work
            </a>
          </li>
          <li class="relative">
            <a class="block relative px-3 text-base tracking-tight font-medium" href="/about"
              >about
            </a>
          </li>
          <li class="relative">
            <a class="block relative px-3 text-base tracking-tight font-medium" href="/stack/grid"
              >tech stack
            </a>
          </li>
          <li class="relative">
            <a class="block relative px-3 text-base tracking-tight font-medium" href="/bookshelf"
              >bookshelf
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center max-h-10 h-10">
      <div class="flex items-center max-h-10 mr-3 border-r border-[var(--grey-100)]">
        <a href="https://github.com/JoanRojasMejia" class="py-[2px] px-3" target="_blank"
          ><Github />
        </a>
        <a
          href="https://www.linkedin.com/in/joan-rojas-mejia/"
          target="_blank"
          class="py-[2px] px-3"><Linkedin /></a
        >
        <a href="https://x.com/JoanRoj18271625" class="py-[2px] px-3" target="_blank">
          <Twitter />
        </a>
      </div>
      <div class="sc-481ef671-6 dZnvFc"><Moon /></div>
      <!-- <span class="sc-481ef671-8 dISDXm"></span> -->
    </div>
  </div>
</nav>
