---
import Navbar from '../components/navbar.astro'
import Layout from './Layout.astro'
---

<Layout title="Welcome to Astro.">
  <div
    class="min-h-screen relative before:absolute before:inset-0 before:z-[-100] before:bg-[url(/header-gradient.svg),url(/footer-gradient.svg)] before:bg-no-repeat before:bg-md before:bg-position-gradient"
  >
    <Navbar />
    <main class="relative w-[708px] m-auto mt-14">
      <slot />
    </main>
  </div>
</Layout>
